POSTGRES_USER=postgres
POSTGRES_PASSWORD=root1234
POSTGRES_DATABASE=tele_chatgpt_service_db_
POSTGRES_LOCAL_PORT=5434
POSTGRES_DOCKER_PORT=5432
SPRING_LOCAL_PORT=8088
SPRING_DOCKER_PORT=8080
DEBUG_PORT=5005
